.App {
    text-align: center;
    background-color: #111111;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffb0;
}

.App-header {
    height: 3ex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffb0;
}
h1 {
    padding: 0 .5em 0 .5em;
    margin: 0;
    font-family: "Droid Sans", sans-serif;
}

.App-body {
    text-align: justify;
    min-height: 100vh;
}

.App-body p {
    text-align: justify;
    padding: 0 .5em 0 .5em;
    font-size: .8em;
    font-family: "Courier New", serif;
    font-weight: normal;
    color: #f0fff0;
    text-shadow: #282c34 2px 2px;
}
